<dl>
  <dt>
    Full Name
  </dt>
  <dd>
    {{model.nameFirst}} {{model.nameLast}}
  </dd>
  <dt>
    Email
  </dt>
  <dd>
    {{model.email}}
  </dd>
  <dt>
    Twitter
  </dt>
  <dd>
    {{model.twitter}}
  </dd>
</dl>
<!-- <button {{action 'delete'}}>Delete</button> -->
{{#bs-button type="primary" action="delete" value=model}}
  Delete
{{/bs-button}}
{{#link-to 'contacts.edit' model class="btn"}}
  Edit
{{/link-to}}
